@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    --color-principal-700: #1e1345;
    --color-principal-600: #301c6b;
    --color-principal-500: #683ee6;
    --color-principal-400: #e3dcfc;
    --color-principal-300: #ffffff;
    --color-principal-200: #00b090;
    --color-principal-100: #f5f6ff;

    --size-xl: 48px;
    --size-x: 40px;
    --size-l: 36px;
    --size-m: 20px;
    --size-s: 16px;
    --size-xs: 14px;
    --size-xxs: 8px;

    --fontweight-700: 700;
    --fontweight-600: 600;
    --fontweight-500: 500;
    --fontweight-400: 400;
    --fontweight-300: 300;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

.footer{
    color: var(--color-principal-700);
    background-color: var(--color-principal-100);
}
